.header__list {
  list-style-type: none;
}

.header__link {
  text-decoration: none;
}

.enjoy__btn {
  border-radius: 100px;
  border: 1px solid #E3E1D5;
}

.coffee__price, .coffee__desription, .coffee__call, .favourites_coffee__title {
  text-align: center;
}

.choose__left, .choose__right {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #E1D4C9;
  border: 1px solid #403F3D;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 10px;
  line-height: 16px;
}

body {
  margin: 0, auto;
  background-color: #E1D4C9;
  font-family: Inter, Verdana, sans-serif;
}

h1 {
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 7.56rem;
  color: #E1D4C9;
}

.wrapper {
  max-width: 1360px;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
}

.header__navigation {
  width: 87.4%;
}

.header__list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.header__item:not(:first-child) {
  margin-left: 40px;
}

.header__link {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  color: #403F3D;
}

.header__text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  color: #403F3D;
  margin-top: 14px;
}

.header__menu-img {
  margin-left: 4px;
}

.enjoy {
  background-image: url(/margo06-JSFE2023Q4/coffee-house/source/img-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 40px;
}

.enjoy__inform {
  padding: 100px 0;
  width: 38.9%;
  margin-left: 100px;
}

.enjoy__word {
  font-style: italic;
  color: #B0907A;
}

.enjoy__text {
  margin-top: 40px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: #E1D4C9;
}

.enjoy__btn {
  margin-top: 40px;
  width: 37.7%;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  padding: 20px 78px;
  background-color: #E1D4C9;
}

.favourites_coffee {
  padding-top: 100px;
}

.favourites_coffee__title {
  font-size: 6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 7.5rem;
  color: #403F3D;
}

.choose {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.choose__right {
  margin-left: 4px;
  margin-top: 290px;
}

.choose__left {
  margin-right: 4px;
  margin-top: 290px;
  transform: rotate(180deg);
}

.coffee {
  width: 35.3%;
}

.coffee__call {
  margin-top: 16px;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  color: #403F3D;
}

.coffee__desription {
  margin-top: 16px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: #403F3D;
}

.coffee__price {
  margin-top: 16px;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  color: #403F3D;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 44.7%;
  align-items: center;
  width: 144px;
}

.pagination__rectg {
  width: 40px;
  height: 4px;
  background-color: #C1B6AD;
}/*# sourceMappingURL=style.css.map */