body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
.link {
    display: flex;
    gap: 50px;
    margin-right: 50px;
}
.footer_rolling {
    text-decoration: none;
    color: #1935c2;
    font-size: 20px;
}

.btn {
    height: 30px;
    background-color: #657ae6;
    color: #17181c;
    margin-top: 50px;
}

.btn:hover {
    background-color: #90a0f0;
    color: #17181c;
    cursor: pointer;
}

.btn.active {
    background-color: #79103c;
    color: #47c0db;
}

.btn:hover.active {
    background-color: #d53d7d;
    color: #47c0db;
}

body.active {
    background: #47c0db;
    color: #17181c;
}

.link__author.active .footer_rolling {
    color: #17181c;
}

@media (max-width: 450px) {
    .btn {
        height: 50px;
    }
    footer {
        flex-direction: column;
    }
    .link {
        margin-left: auto;
        margin-right: auto;
    }
}
