.footer_year,
.footer_name-school {
  font-size: 1.2rem;
}

.main_not-user,
.information {
  text-align: center;
}

.information {
  font-size: 1.6rem;
}

.separator_text {
  padding: 0 10px;
  line-height: 1px;
  color: #333;
}
