.login_button,
.info_button,
.modal_button,
.logout_button,
.info_button-chat,
.back_button {
  display: block;
  height: 30px;
  margin-top: 20px;
  width: 50%;
  background-color: #d496e5;
  margin-left: auto;
  margin-right: auto;
}

.login_button:hover,
.info_button:hover,
.modal_button:hover,
.info_button-chat:hover,
.edit_button:hover,
.delete_button:hover {
  cursor: pointer;
}

.login_button:active,
.info_button:active,
.modal_button:active,
.info_button-chat:active,
.edit_button:active,
.delete_button:active {
  background-color: rgb(94, 238, 190);
}

.main_header .info_button-chat {
  margin-left: 35%;
  width: 10%;
}
.logout_button {
  margin-left: 5%;
  width: 10%;
}

.send_button {
  width: 10%;
  background-color: #d496e5;
}

.back_button {
  width: 20%;
}

.delete_button,
.edit_button {
  width: 100%;
  background-color: #d496e5;
}
