.footer__item, .header__list {
  list-style-type: none;
}

.enjoy__btn, .dates__address, .header__text, .header__link {
  text-decoration: none;
}

.enjoy__btn {
  border-radius: 100px;
  border: 1px solid #E3E1D5;
}

.footer__item {
  border: 1px solid #E1D4C9;
}

.coffee__price, .coffee__desription, .coffee__call, .favourites_coffee__title {
  text-align: center;
}

.choose__left, .choose__right {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #E1D4C9;
  border: 1px solid #403F3D;
}

.photos_column2, .photos_column1 {
  width: 48.5%;
  gap: 40px;
  flex-direction: column;
}

.photos_3, .photos_4, .photos_2, .photos_1 {
  border-radius: 20px;
  overflow: hidden;
}

.photos_img3, .photos_img4, .photos_img2, .photos_img1 {
  display: block;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

html {
  font-size: 10px;
  line-height: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0, auto;
  background-color: #E1D4C9;
  font-family: Inter, Verdana, sans-serif;
}

h1 {
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 7.56rem;
  color: #E1D4C9;
}

.wrapper {
  max-width: 1360px;
  margin: 0 auto;
}
@media (max-width: 1361px) {
  .wrapper {
    max-width: 1280px;
  }
}
@media (max-width: 1281px) {
  .wrapper {
    max-width: 1200px;
  }
}
@media (max-width: 1201px) {
  .wrapper {
    max-width: 1100px;
  }
}
@media (max-width: 1201px) {
  .wrapper {
    max-width: 1000px;
  }
}

.header {
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
}

.header__navigation {
  width: 87.4%;
}
@media (max-width: 1361px) {
  .header__navigation {
    width: 85.52%;
  }
}
@media (max-width: 1201px) {
  .header__navigation {
    width: 81.52%;
  }
}

.header__list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.header__item:not(:first-child) {
  margin-left: 40px;
}

.header__link {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  color: #403F3D;
}

.header__text {
  display: block;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  color: #403F3D;
  margin-top: 14px;
}

.header__menu-img {
  margin-left: 4px;
}

.header__show:hover {
  display: block;
  margin-top: 1px;
  border-bottom: 2px solid #403F3D;
  transition-duration: 1s;
}

.footer {
  background-color: #665F55;
  border-radius: 40px;
  margin-bottom: 40px;
}

.footer__inform {
  display: flex;
  justify-content: flex-start;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer__social-media {
  width: 40%;
  margin-left: 100px;
}
@media (max-width: 1281px) {
  .footer__social-media {
    width: 42%;
  }
}
@media (max-width: 1201px) {
  .footer__social-media {
    width: 49.5%;
  }
}

.footer__list {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}

.footer__title {
  font-size: 6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 7.5rem;
  color: #E1D4C9;
}

.footer__item {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition-duration: 2s;
}
.footer__item:not(:first-child) {
  margin-left: 12px;
}
.footer__item:hover {
  background-color: #E1D4C9;
  cursor: pointer;
  transition-duration: 2s;
}
.footer__item:hover .footer__link svg {
  color: #403F3D;
  transition-duration: 2s;
}

.footer__contact {
  margin-left: 87px;
}

.footer__text {
  margin-top: 32px;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  color: #E1D4C9;
}

.footer__local {
  margin-top: 38px;
  width: 70%;
}

.dates__address {
  margin-left: 5px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  color: #E1D4C9;
}

.footer__phone {
  margin-top: 16px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  color: #E1D4C9;
  width: 70%;
}

.footer__time {
  margin-top: 16px;
  display: flex;
  justify-content: flex-start;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  color: #E1D4C9;
}

.dates__time {
  margin-left: 8px;
}

.dates__clock {
  display: block;
}

.footer__link {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  color: #E1D4C9;
  transition-duration: 2s;
}

.footer__show:hover {
  display: block;
  margin-top: 1px;
  border-bottom: 2px solid #E1D4C9;
  transition-duration: 1s;
}

.enjoy {
  background-image: url(/margo06-JSFE2023Q4/coffee-house/source/img-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 40px;
}

.enjoy__inform {
  padding: 100px 0;
  width: 38.9%;
  margin-left: 100px;
}
@media (max-width: 1361px) {
  .enjoy__inform {
    width: 40.78%;
  }
}
@media (max-width: 1281px) {
  .enjoy__inform {
    width: 42.89%;
  }
}
@media (max-width: 1201px) {
  .enjoy__inform {
    width: 52%;
  }
}

.enjoy__word {
  font-style: italic;
  color: #B0907A;
}

.enjoy__text {
  margin-top: 40px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: #E1D4C9;
}

.enjoy__btn {
  display: block;
  color: #403F3D;
  margin-top: 40px;
  width: 37.7%;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
  padding: 20px 78px;
  background-color: #E1D4C9;
  transition-duration: 1s;
}

.enjoy__btn:after {
  background-image: url(/margo06-JSFE2023Q4/coffee-house/source/coffee-cup.svg);
  background-repeat: no-repeat;
  background-position: center;
  content: " ";
  padding-left: 40px;
  opacity: 0;
  transition-duration: 1s;
}

.enjoy__btn:hover {
  padding: 20px 58px;
  transition-duration: 2s;
}

.enjoy__btn:hover:after {
  opacity: 1;
  transition-duration: 2s;
}

.favourites_coffee {
  padding-top: 100px;
}

.favourites_coffee__title {
  font-size: 6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 7.5rem;
  color: #403F3D;
}

.choose {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.choose__right {
  margin-left: 4px;
  margin-top: 290px;
  padding-top: 2px;
  transition-duration: 1s;
}
.choose__right:hover {
  background-color: #665F55;
  cursor: pointer;
  transition-duration: 1s;
  color: #E1D4C9;
}

.choose__left {
  margin-right: 4px;
  margin-top: 290px;
  transform: rotate(180deg);
  padding-top: 5px;
  transition-duration: 1s;
}
.choose__left:hover {
  background-color: #665F55;
  cursor: pointer;
  transition-duration: 1s;
  color: #E1D4C9;
}

.coffee {
  width: 35.3%;
}
@media (max-width: 1361px) {
  .coffee {
    width: 37.5%;
  }
}
@media (max-width: 1281px) {
  .coffee {
    width: 40%;
  }
}
@media (max-width: 1201px) {
  .coffee {
    width: 47.9%;
  }
}

.coffee__call {
  margin-top: 16px;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  color: #403F3D;
}

.coffee__desription {
  margin-top: 16px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: #403F3D;
}

.coffee__price {
  margin-top: 16px;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem;
  color: #403F3D;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 44.7%;
  align-items: center;
  width: 144px;
}

.pagination__rectg {
  width: 40px;
  height: 4px;
  background-color: #C1B6AD;
  border-radius: 100px;
}

.pagination__rectg--active {
  background-color: #665F55;
}

.about {
  margin-top: 100px;
}

.about__title {
  font-size: 6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 7.5rem;
  color: #403F3D;
}

.photos {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
@media (max-width: 1281px) {
  .photos {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    gap: 40px;
  }
}
@media (max-width: 1201px) {
  .photos {
    width: 66%;
  }
}

.photos_column1 {
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 1361px) {
  .photos_column1 {
    width: 49.5%;
  }
}
@media (max-width: 1281px) {
  .photos_column1 {
    width: 100%;
  }
}

.photos_column2 {
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 1361px) {
  .photos_column2 {
    width: 49.5%;
  }
}
@media (max-width: 1281px) {
  .photos_column2 {
    width: 100%;
  }
}

.photos_1 {
  height: 590px;
}

.photos_img1 {
  transform: scale(1.1, 1.25);
  transition-duration: 2s;
}
.photos_img1:hover {
  transform: scale(1, 1);
  transition-duration: 2s;
}

.photos_2 {
  height: 430px;
}

.photos_img2 {
  transform: scale(1.1, 1.7);
  transition-duration: 2s;
}
.photos_img2:hover {
  transform: scale(1, 1);
  transition-duration: 2s;
}

.photos_4 {
  height: 590px;
}

.photos_img4 {
  transform: scale(1.1, 1.25);
  transition-duration: 2s;
}
.photos_img4:hover {
  transform: scale(1, 1);
  transition-duration: 2s;
}

.photos_3 {
  height: 430px;
}

.photos_img3 {
  transform: scale(1.1, 1.7);
  transition-duration: 2s;
}
.photos_img3:hover {
  transform: scale(1, 1);
  transition-duration: 2s;
}

.mobile_app {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1201px) {
  .mobile_app {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 63%;
  }
}

.mobile_download {
  width: 46.32%;
  margin-top: 144px;
}
@media (max-width: 1361px) {
  .mobile_download {
    width: 48.2%;
  }
}
@media (max-width: 1281px) {
  .mobile_download {
    width: 51%;
  }
}
@media (max-width: 1201px) {
  .mobile_download {
    width: 100%;
    margin-top: 0px;
  }
}

.mobile_download__title {
  font-size: 6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 7.5rem;
  color: #403F3D;
}

.mobile_download__text {
  margin-top: 40px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: #403F3D;
}

.btn-mob {
  background-color: #E1D4C9;
  color: #403F3D;
  margin-top: 37px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 20px;
  border: 1px solid #665F55;
  align-items: center;
  width: 31.7%;
  border-radius: 100px;
  height: 64px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4rem;
  transition-duration: 2s;
}
.btn-mob:hover {
  background-color: #665F55;
  color: #E1D4C9;
  cursor: pointer;
  transition-duration: 2s;
}

.mobile_download__apple {
  background-image: url(/margo06-JSFE2023Q4/coffee-house/source/icon-app.svg);
  transition-duration: 2s;
}
.mobile_download__apple:hover {
  background-image: url(/margo06-JSFE2023Q4/coffee-house/source/icon-app-hover.svg);
}

.mobile_download__google {
  background-image: url(/margo06-JSFE2023Q4/coffee-house/source/icon-google.svg);
  margin-left: 18px;
  text-align: start;
  padding-left: 60px;
}
.mobile_download__google:hover {
  background-image: url(/margo06-JSFE2023Q4/coffee-house/source/icon-google-hover.svg);
}

.btn-mob__company {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4rem;
}

@media (max-width: 1281px) {
  .mobile_app__img {
    display: block;
    width: 49%;
  }
}
@media (max-width: 1201px) {
  .mobile_app__img {
    width: 98%;
    margin-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */