.message.hidden {
  display: none;
}

.first_message {
  text-align: center;
  align-self: center;
}

.message {
  width: 60%;
  border: 2px solid #d496e5;
  margin-top: 10px;
}

.message_dates,
.message_status {
  display: flex;
  justify-content: space-around;
  background-color: rgb(162 206 198);
}

.text {
  margin: 5px;
  word-wrap: break-word;
}

.name,
.data,
.edit_status,
.delivery_status {
  margin: 0;
}
