$color-background-body: #E1D4C9;
$color-primary-text: #403F3D;
$color-second-text: #B0907A;
$color-background-container: #665F55;
$color-background-backdrop: #403F3DCC;
$color-primary-border: #C1B6AD;
$color-second-border: #665F55;


$size-h1: 7.2rem;
$size-h2: 6.0rem;
$size-h3: 2.4rem;
$size-primary-text: 1.6rem;
$size-second-test: 1.0rem;
$size-burger-link: 3.2rem;

$line-height-h1: 7.56rem;
$line-height-h: 7.5rem;
$line-height-primary-text: 2.4rem;
$line-height-second-text: 1.4rem;

$font-weight-normal: 400;
$font-weight-bold: 600;