.play_wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.game_container {
  margin: 100px 0;
  width: 90%;
}

.game_sentence {
  width: 50%;
  border: 1px solid rgb(139, 30, 127);
  height: 38px;
  margin: 0 auto;
}

.data_container {
  display: flex;
  width: 100%;
  height: 38px;
  margin: 0 auto;
}

.data_column,
.column {
  font-size: 1.6rem;
  border: 1px solid rgb(139, 30, 127);
  background-color: rgb(97, 9, 53);
  color: rgb(213, 215, 216);
  text-align: center;
  padding: 7px 0;
}

.data_container:not(:first-child) {
  display: none;
}

.data_column {
  transition: 1s;
}

.data_column:hover {
  transform: scale(1.1);
}

.data_column:hover,
.column:hover {
  cursor: pointer;
  background-color: rgb(139, 30, 127);
  transition-duration: 2s;
}

.data_container.hidden {
  display: none;
}

.game_row {
  display: flex;
}

.column.active {
  background-color: rgb(245, 62, 62);
  transition-duration: 2s;
}

@media (max-width: 1440px) {
  .game_sentence {
    width: 57%;
  }
}

@media (max-width: 1200px) {
  .game_sentence {
    width: 62%;
  }
}

@media (max-width: 1000px) {
  .game_sentence {
    width: 69%;
  }
}

@media (max-width: 900px) {
  .game_sentence {
    max-width: 75%;
  }
}

@media (max-width: 760px) {
  .game_sentence {
    width: 80%;
  }
}
