.users_inactive::marker {
  color: rgba(194, 6, 6, 0.847);
}

.users_active::marker {
  color: rgb(27, 243, 8);
}

.users_active {
  position: relative;
}

.count {
  display: inline-block;
  position: absolute;
  margin-left: 10%;
  margin-top: -17px;
}

.users_active:hover,
.users_inactive:hover {
  cursor: pointer;
  color: #d496e5;
}
