.name,
.page-number {
  font-size: 1.6rem;
  color: rgb(242, 232, 87);
}

.page-name {
  font-size: 2rem;
  color: rgb(242, 232, 87);
  margin-top: 35px;
  margin-left: 20px;
}

.page-number {
  margin: 20px 0 20px 20px;
}
