.login_container {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 353px 0;
}

.login_form {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 auto;
}

.login_form label:nth-child(3) {
  margin-top: 20px;
}

input[type='text'] {
  font-size: 1.6rem;
  height: 35px;
  padding-left: 5px;
  border: 3px solid rgb(234, 134, 26);
}

input[type='text']:focus {
  border: 3px solid rgb(5, 248, 5);
  outline: none;
}

label[for='fname'],
label[for='lname'] {
  color: rgb(213, 215, 216);
  font-size: 1.6rem;
}
