.login_container {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 353px 0;
}

.login_form {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 auto;
}

.login_form label:nth-child(4) {
  margin-top: 20px;
}

input[type='text'] {
  font-size: 1.6rem;
  height: 35px;
  padding-left: 5px;
  border: 3px solid rgb(234, 134, 26);
}

input[type='text']:focus {
  outline: none;
}

label[for='fname'],
label[for='lname'] {
  color: rgb(213, 215, 216);
  font-size: 1.6rem;
}

input[type='text']:valid {
  border: 3px solid rgba(94, 248, 5, 0.884);
}

input[type='text']:invalid:focus:not(:placeholder-shown) {
  border: 3px solid rgba(248, 5, 90, 0.884);
}

input[type='text']:invalid:focus:not(:placeholder-shown) ~ .requirement {
  max-height: 200px;
  padding: 0 10px 20px 10px;
}

.requirement {
  padding: 0 10px 0 10px;
  max-height: 0;
  transition: 0.2s;
  overflow: hidden;
  color: rgba(244, 103, 152, 0.884);
  font-size: 1.2rem;
  font-style: italic;
}
