* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: "Inter";
}

.wrapper,
.nonogram {
  margin: 0 auto;
}

.nonogram,
.nonogram__top-dates,
.nonogram__bottom-dates {
  display: flex;
}

.wrapper {
  max-width: 1360px;
  background-color: aquamarine;
}

.nonograms {
  padding-top: 150px;
  padding-bottom: 150px;
}

.nonogram__top-dates,
.nonogram__field-dates,
.nonogram__top,
.cell-left:not(:last-child) {
  border-bottom: 1px solid black;
}

.nonogram {
  flex-direction: column;
  width: 608px;
  border: 1px solid black;
}

.nonogram__top-dates {
  height: 167px;
}

.nonogram__dates-empty {
  width: 167px;
  background-color: gray;
}

.nonogram__bottom-dates {
  height: 450px;
}

.nonogram__dates-left,
.nonogram__left,
.cell-top:not(:last-child),
.nonogram__field-dates {
  border-right: 1px solid black;
}

.nonogram__top-container,
.nonogram__left-container,
.nonogram__dates-full,
.nonogram__dates-left,
.nonogram__field {
  display: grid;
}

.nonogram__field,
.nonogram__dates-full {
  grid-template-columns: repeat(5, 1fr);
}
.nonogram__dates-full {
  width: 450px;
}

.nonogram__dates-left {
  grid-template-rows: repeat(5, 1fr);
  width: 167px;
}
.nonogram__field {
  width: 450px;
  height: 450px;
  border: 2px solid black;
}

.nonogram__left-container {
  grid-template-columns: repeat(2, 1fr);
}

.nonogram__left,
.nonogram__top {
  text-align: center;
  padding-top: 40%;
  font-size: 24px;
}

.nonogram__top-container {
  grid-template-rows: repeat(2, 1fr);
}
