$color-background-body: #E1D4C9;
$color-primary-text: #403F3D;
$color-second-text: #B0907A;
$color-background-container: #665F55;
$color-background-backdrop: #403F3DCC;
$color-primary-border: #C1B6AD;
$color-word: #B0907A;


$size-h1: 7.2rem;
$size-h2: 6.0rem;
$size-h3: 2.4rem;
$size-primary-text: 1.6rem;
$size-second-text: 1.0rem;
$size-burger-link: 3.2rem;
$size-mobile-h1: 4.2rem;

$line-height-h1: 7.56rem;
$line-height-h: 7.5rem;
$line-height-h3: 3.0rem;
$line-height-primary-text: 2.4rem;
$line-height-small-text: 1.4rem;
$line-height-link: 4.0rem;

$font-weight-normal: 400;
$font-weight-bold: 600;

$screen-width-1361: 1361px;
$screen-width-1281: 1281px;
$screen-width-1201: 1201px;
$screen-width-1101: 1101px;
$screen-width-1001: 1001px;
$screen-width-901: 901px;
$screen-width-801: 801px;
$screen-width-tablet: 768px;
$screen-width-689: 689px;
$screen-width-589: 589px;
$screen-width-489: 489px;
$screen-width-mobile: 380px;