@mixin font($size,$style,$weight,$line-height){
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin flex($display,$content){
  display:$display;
  justify-content: $content;
}

@mixin media-1361{
  @media(max-width: $screen-width-1361) {
   @content;
  }
}

@mixin media-1281{
  @media(max-width: $screen-width-1281) {
   @content;
  }
}

@mixin media-1201{
  @media(max-width: $screen-width-1201) {
   @content;
  }
}

@mixin media-1101{
  @media(max-width: $screen-width-1101) {
   @content;
  }
}

@mixin media-1001{
  @media(max-width: $screen-width-1001) {
   @content;
  }
}

@mixin media-901{
  @media(max-width: $screen-width-901) {
   @content;
  }
}
