.login_button {
  width: 50%;
}

.login_button,
.logout_button {
  font-family: 'Inter';
  font-size: 1.6rem;
  margin: 0 auto;
  margin-top: 30px;
  height: 30px;
  border: 1px solid rgb(234, 134, 26);
  background-color: rgb(234, 134, 26);
}

.logout_button {
  width: 10%;
  margin-top: 20px;
  margin-left: 100px;
}

.login_button:hover,
.logout_button:hover {
  cursor: pointer;
}

.login_button:active,
.logout_button:active {
  background-color: rgb(136, 72, 4);
}
