.footer{
  background-color: #665F55;
  border-radius: 40px;
  margin-bottom: 40px;
}

.footer__inform{
  @include flex($display:flex,$content:flex-start);
  padding-top: 100px;
  padding-bottom: 100px;

  @include media-801 {
    flex-direction: column;
  }
}

.footer__social-media{
  width: 40%;
  margin-left: 100px;

  @include media-1281{
    width: 42%;
  }

  @include media-1201 {
    width: 49.5%;
  }

  @include media-1001 {
    width: 55%;
    margin-left: 50px;
  }

  @include media-901 {
    width: 62%;
    margin-left: 20px;
  }

  @include media-801 {
    width: 65%;
    margin-left: 70px;
  }
}

.footer__list{
  @include flex($display:flex,$content:flex-start);
  margin-top: 40px;
}

.footer__title{
  @include font($size:$size-h2, $style:normal, $weight:$font-weight-bold, $line-height:$line-height-h);
  color: $color-background-body;
}

.footer__item{
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  @extend %border-media;
  @extend %list-style;
  &:not(:first-child){
    margin-left: 12px;
  }
  &:hover{
    background-color: $color-background-body;
    cursor: pointer;
    transition-duration: 2s;
  }
  &:hover .footer__link svg{
    color: $color-primary-text;
    transition-duration: 2s;
  }
}

.footer__contact{
  margin-left: 87px;

  @include media-901 {
    margin-left:12px;
  }

  @include media-801 {
    margin-top: 20px;
    margin-left:70px;
  }
}

.footer__text{
  margin-top: 32px;
  @include font($size:$size-h3, $style:normal, $weight:$font-weight-bold, $line-height:$line-height-h3);
  color: $color-background-body;
}

.footer__local{
  margin-top: 38px;
  width: 70%;
}

.dates__address{
  margin-left: 5px;
  @extend %text-decor;
  @include font($size:$size-primary-text, $style:normal, $weight:$font-weight-bold, $line-height:$line-height-primary-text);
  color: $color-background-body;
}

.footer__phone{
  margin-top: 16px;
  @include font($size:$size-primary-text, $style:normal, $weight:$font-weight-bold, $line-height:$line-height-primary-text);
  color: $color-background-body;
  width: 70%;
}

.footer__time{
  margin-top: 16px;
  @include flex($display:flex,$content:flex-start);
  @include font($size:$size-primary-text, $style:normal, $weight:$font-weight-bold, $line-height:$line-height-primary-text);
  color: $color-background-body;
}

.dates__time{
  margin-left: 8px;
}

.dates__clock{
  display: block;
}

.footer__img{
  display: block;
  margin: 17px auto;
}

.enjoy__word{
  font-style: italic;
  color: $color-word;
}

.footer__link{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  color:$color-background-body;
  transition-duration: 2s;
}

.footer__show:hover{
  display: block;
  margin-top: 1px;
  border-bottom: 2px solid $color-background-body;
  transition-duration: 1s;
}