.enjoy{
  background-image: url(/margo06-JSFE2023Q4/coffee-house/source/img-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 40px;
}

.enjoy__inform{
  padding: 100px 0;
  width: 38.9%;
  margin-left: 100px;

  @include media-1361 {
    width: 40.78%;
  }

  @include media-1281 {
    width: 42.89%;
  }

  @include media-1201 {
    width: 52%;
  }
}

.enjoy__word{
  font-style: italic;
  color: $color-word;
}
.enjoy__text{
  margin-top: 40px;
  @include font($size:$size-primary-text, $style:normal, $weight:$font-weight-normal, $line-height:$line-height-primary-text);
  color: $color-background-body;
}

.enjoy__btn{
  display: block;
  @extend %text-decor;
  color: $color-primary-text;
  margin-top: 40px;
  width: 37.7%;
  @include font($size:$size-primary-text, $style:normal, $weight:$font-weight-bold, $line-height:$line-height-primary-text);
  padding: 20px 78px;
  @extend %border;
  background-color: $color-background-body;
  transition-duration: 1s;
}

.enjoy__btn:after{
  background-image: url(/margo06-JSFE2023Q4/coffee-house/source/coffee-cup.svg);
  background-repeat:no-repeat;
  background-position: center;
  content: " ";
  padding-left: 40px;
  opacity: 0;
  transition-duration: 1s;
}
.enjoy__btn:hover{
  padding: 20px 58px;
  transition-duration: 2s;
}

.enjoy__btn:hover:after{
  opacity: 1;
  transition-duration: 2s;
}



