.mobile_app{
  padding-top: 100px;
  padding-bottom: 100px;
  @include flex($display:flex,$content:space-between);

  @include media-1201 {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 63%;
  }
}

.mobile_download{
  width: 46.32%;
  margin-top: 144px;

  @include media-1361 {
    width: 48.2%;
  }

  @include media-1281 {
    width: 51%;
  }

  @include media-1201 {
    width: 100%;
    margin-top: 0px;
  }
}

.mobile_download__title{
  @include font($size:$size-h2, $style:normal, $weight:$font-weight-bold, $line-height:$line-height-h);
  color: $color-primary-text;
}

.mobile_download__text{
  margin-top: 40px;
  @include font($size:$size-primary-text, $style:normal, $weight:$font-weight-normal, $line-height:$line-height-primary-text);
  color: $color-primary-text;
}

.btn-mob{
  background-color: $color-background-body;
  color: $color-primary-text;
  margin-top: 37px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 20px;
  border: 1px solid $color-background-container;
  align-items: center;
  width: 31.7%;
  border-radius: 100px;
  height: 64px;
  @include font($size:$size-second-text, $style:normal, $weight:$font-weight-bold, $line-height:$line-height-small-text);
  transition-duration: 2s;
  &:hover{
    background-color: $color-background-container;
    color: $color-background-body;
    cursor: pointer;
    transition-duration: 2s;
  }
}

.mobile_download__apple{
  background-image: url(/margo06-JSFE2023Q4/coffee-house/source/icon-app.svg);
  transition-duration: 2s;
  &:hover{
    background-image: url(/margo06-JSFE2023Q4/coffee-house/source/icon-app-hover.svg);
  }
}

.mobile_download__google{
  background-image: url(/margo06-JSFE2023Q4/coffee-house/source/icon-google.svg);
  margin-left: 18px;
  text-align: start;
  padding-left: 60px;
  &:hover{
    background-image: url(/margo06-JSFE2023Q4/coffee-house/source/icon-google-hover.svg);
  }
}

.btn-mob__company{
  @include font($size:$size-primary-text, $style:normal, $weight:$font-weight-bold, $line-height:$line-height-primary-text);

}

.mobile_app__img{

  @include media-1281 {
    display: block;
    width: 49%;
  }

  @include media-1201 {
    width: 98%;
    margin-top:20px;
  }
}