.mobile_app{
  padding-top: 100px;
  @include flex($display:flex,$content:space-between);
}

.mobile_download{
  width: 46.32%;
  margin-top: 144px;
}

.mobile_download__title{
  @include font($size:$size-h2, $style:normal, $weight:$font-weight-bold, $line-height:$line-height-h);
  color: $color-primary-text;
}

.mobile_download__text{
  margin-top: 40px;
  @include font($size:$size-primary-text, $style:normal, $weight:$font-weight-normal, $line-height:$line-height-primary-text);
  color: $color-primary-text;
}

.btn-mob{
  background-color: $color-background-body;
  color: $color-primary-text;
  margin-top: 37px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 20px;
  align-items: center;
  width: 31.7%;
  border-radius: 100px;
  height: 64px;
  @include font($size:$size-second-text, $style:normal, $weight:$font-weight-bold, $line-height:$line-height-small-text);
}

.mobile_download__apple{
  background-image: url(/margo06-JSFE2023Q4/coffee-house/source/icon-app.svg);
}

.mobile_download__google{
  background-image: url(/margo06-JSFE2023Q4/coffee-house/source/icon-google.svg);
  margin-left: 18px;
  text-align: start;
  padding-left: 60px;
}

.btn-mob__company{
  @include font($size:$size-primary-text, $style:normal, $weight:$font-weight-bold, $line-height:$line-height-primary-text);

}