.header{
  padding: 20px 0;
  @include flex($display:flex, $content:flex-start);
}

.header__navigation{
  width: 87.4%;
}

.header__list{
  @include flex($display:flex, $content:center);
  @extend %list-style;
  margin-top: 16px;
}

.header__item{
  &:not(:first-child){
    margin-left: 40px;
  }
}
.header__link{
  @include font($size:$size-primary-text, $style:normal, $weight:$font-weight-bold, $line-height:$line-height-primary-text);
  @extend %text-decor;
  color: $color-primary-text;
}

.header__text{
  display: block;
  @include font($size:$size-primary-text, $style:normal, $weight:$font-weight-bold, $line-height:$line-height-primary-text);
  color: $color-primary-text;
  margin-top: 14px;
  @extend %text-decor;
}

.header__menu-img{
  margin-left: 4px;
}


