.wrapper{
  max-width: 1360px;
  margin: 0 auto;

  @include media-1361 {
    max-width: 1280px;
  }

  @include media-1281 {
    max-width: 1200px;
  }

  @include media-1201 {
    max-width: 1100px;
  }

  @include media-1101 {
    max-width: 1000px;
  }

  @include media-1001 {
    max-width: 900px;
  }

  @include media-901 {
    max-width: 800px;
  }

  @include media-801 {
    max-width: 767px;
  }

  @include media-tablet {
    max-width: 688px;
  }

  @include media-689 {
    max-width: 588px;
  }

  @include media-589 {
    max-width: 488px;
  }
}