* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(195, 244, 237);
}

.wrapper,
.wrapper__illustration,
.score,
.quiz__keyboard,
.quiz__row,
.quiz__answer,
.quiz__numbers,
.modal {
  display: flex;
}

.wrapper {
  margin: 0 auto;
  max-width: 1360px;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.wrapper__illustration {
  flex-direction: column;
  align-items: center;
}

.wrapper__illustration {
  width: 42.6%;
}

.quiz {
  width: 50%;
}

.illustration {
  position: relative;
  width: 360px;
  height: 500px;
}

.part {
  background-color: black;
  height: 8px;
}

.illustration__height,
.quiz__answer {
  width: 65.5%;
}

.illustration__height {
  position: absolute;
}

.illustration__middle {
  position: relative;
}

.illustration__part21,
.illustration__part22,
.illustration__part23 {
  position: absolute;
}

.illustration__part21,
.illustration__part23 {
  transform: rotate(90deg);
}

.illustration__part22,
.illustration__body3 {
  transform: rotate(125deg);
}

.illustration__part21 {
  width: 120%;
  top: 220px;
  left: -200px;
}

.illustration__part22 {
  width: 15%;
  top: 25px;
  left: 5px;
}

.illustration__part23 {
  width: 18%;
  top: 30px;
  left: 200px;
}

.illustration__footer {
  position: absolute;
  width: 80.5%;
  top: 440px;
}

.nameGame,
.quiz__question,
.score,
.quiz__one-letter.active,
.modal__text,
.modal__result,
.modal__answer,
.modal__button {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

.nameGame {
  margin-top: 30px;
  font-weight: 600;
  margin-left: -70px;
}

.quiz__answer,
.modal__button {
  margin-left: auto;
  margin-right: auto;
}

.quiz__answer {
  margin-top: 80px;
  gap: 20px;
  align-items: center;
}

.quiz__one-letter {
  width: 50px;
  height: 30px;
  border-bottom: 1px solid rgba(32, 31, 31, 0.954);
}

.quiz__question,
.key {
  text-align: center;
}

.quiz__question,
.score {
  font-size: 24px;
  font-weight: 400;
}

.quiz__question {
  margin: 50px auto;
  width: 90%;
}

.score {
  margin: 30px auto;
  width: 35%;
}

.quiz__numbers,
.key {
  margin-left: 10px;
}

.number {
  color: red;
}

.quiz__keyboard,
.key {
  border: 1px solid rgba(32, 31, 31, 0.954);
}

.quiz__keyboard,
.quiz__row {
  flex-wrap: wrap;
}

.quiz__keyboard {
  margin: 70px auto;
  background-color: rgb(233, 233, 238);
}

.quiz__row {
  width: 100%;
  justify-content: center;
  padding-bottom: 8px;
}

.key,
.modal__button {
  background-color: rgba(104, 218, 187, 0.648);
}

.key {
  width: 9%;
  height: 56px;
  border-radius: 5px;
  margin-top: 10px;
  line-height: 50px;
}

.key.active {
  background-color: rgba(21, 183, 140, 0.648);
}

.key.disabled {
  background-color: rgba(143, 210, 192, 0.1);
}

.quiz__one-letter.active {
  border: none;
  font-size: 24px;
  margin-bottom: 15px;
}

.illustration__body {
  position: relative;
  left: 230px;
  top: 50px;
}

.illustration__body1,
.illustration__body2,
.illustration__body3,
.illustration__body4,
.illustration__body5,
.illustration__body6 {
  position: absolute;
  visibility: hidden;
}

.illustration__body1 {
  border-radius: 50%;
  top: 5px;
  left: -22px;
  height: 50px;
  width: 50px;
}

.illustration__body2 {
  transform: rotate(90deg);
  top: 110px;
  left: -57px;
  width: 120px;
}

.illustration__body3 {
  top: 104px;
  left: -44px;
  width: 60px;
}

.illustration__body4,
.illustration__body6 {
  transform: rotate(45deg);
}

.illustration__body4 {
  top: 100px;
  left: -10px;
  width: 60px;
}

.illustration__body5 {
  transform: rotate(125deg);
  top: 188px;
  left: -50px;
  width: 70px;
}

.illustration__body6 {
  top: 186px;
  left: -10px;
  width: 70px;
}

.modal__background,
.modal {
  display: none;
  position: fixed;
}

.modal__background {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(39, 38, 37, 0.9);
}

.modal {
  width: 800px;
  height: 500px;
  background-color: rgba(241, 236, 232);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  flex-direction: column;
}

.modal__text {
  padding-top: 70px;
}
.modal__text,
.modal__result,
.modal__answer {
  font-size: 24px;
  margin-top: 50px;
  text-align: center;
  background-color: rgba(241, 236, 232);
}

.modal__button {
  width: 35%;
  height: 44px;
  margin-top: 50px;
  font-size: 24px;
}

.modal__button:hover,
.key:hover {
  cursor: pointer;
  background-color: aquamarine;
  transition: all 2s;
}

.modal__background.active,
.modal__button,
.modal.active {
  display: block;
}

@media (max-width: 1370px) {
  .wrapper {
    max-width: 1024px;
    padding-top: 100px;
    flex-direction: column;
  }
  .wrapper__illustration {
    width: 100%;
  }
  .nameGame {
    order: -1;
    margin-top: 0;
  }
  .illustration {
    margin-top: 30px;
  }

  .quiz {
    width: 70%;
    margin: 0 auto;
  }

  .illustration_height,
  .quiz__answer {
    width: 65.5%;
  }

  .illustration__part21 {
    top: 195px;
    left: -200px;
  }

  .illustration__part22 {
    top: 22px;
    left: 5px;
  }

  .illustration__part23 {
    top: 35px;
    left: 198px;
  }

  .illustration__footer {
    top: 407px;
  }

  .quiz__answer {
    margin-top: 10px;
  }

  .illustration__body {
    width: 30px;
    left: 230px;
  }
}

@media (max-width: 1025px) {
  .wrapper {
    max-width: 767px;
  }

  .quiz {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .quiz__keyboard {
    margin: 50px auto;
  }
  .score {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 688px;
  }

  .quiz {
    width: 90%;
  }

  .modal {
    width: 500px;
    height: 400px;
  }

  .modal__text {
    margin-top: 0;
  }
}

@media (max-width: 689px) {
  .wrapper {
    max-width: 425px;
  }
  .quiz {
    width: 90%;
  }

  .nameGame {
    font-size: 24px;
    margin-top: 30px;
  }

  .quiz__answer,
  .quiz__question {
    width: 95%;
  }

  .score {
    width: 60%;
  }

  .key {
    width: 16%;
  }
  .modal {
    width: 400px;
    height: 300px;
  }

  .modal__text {
    margin-top: 0;
    padding-top: 20px;
  }

  .modal__result,
  .modal__answer {
    margin-top: 20px;
  }
}

@media (max-width: 426px) {
  .wrapper {
    max-width: 359px;
  }
  .score {
    width: 90%;
  }
}

@media (max-width: 360px) {
  .wrapper {
    max-width: 320px;
  }
  .illustration {
    position: relative;
    width: 310px;
    height: 500px;
  }

  .illustration__height {
    top: 6px;
  }

  .illustration__part21 {
    left: -155px;
  }

  .illustration__part22 {
    left: 23px;
  }

  .illustration__part23 {
    top: 30px;
    left: 178px;
  }

  .illustration__footer {
    top: 380px;
  }

  .illustration__body {
    left: 200px;
  }
}
