* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper,
.illustration__part2,
.score,
.quiz__keyboard,
.quiz__row,
.quiz__answer,
.quiz__numbers,
.modal {
  display: flex;
}
.wrapper {
  margin: 0 auto;
  max-width: 1360px;
  justify-content: space-between;
  padding-top: 50px;
}

.illustration,
.quiz {
  width: 42.6%;
}

.part {
  background-color: black;
  height: 8px;
}

.illustration__part1,
.quiz__answer {
  width: 65.5%;
}

.illustration__part2 {
  position: relative;
  justify-content: flex-start;
}

.illustration__part21,
.illustration__part22,
.illustration__part23 {
  position: absolute;
}

.illustration__part21 {
  width: 500px;
  transform: rotate(90deg);
  top: 220px;
  left: -220px;
}

.illustration__part22 {
  width: 90px;
  transform: rotate(125deg);
  top: 30px;
  left: 12px;
}

.illustration__part23 {
  width: 100px;
  transform: rotate(90deg);
  top: 41px;
  left: 325px;
}

.illustration__part3 {
  margin-top: 470px;
  width: 80.5%;
}

.illustration__text,
.quiz__question,
.score,
.quiz__one-letter.active,
.modal__text,
.modal__result,
.modal__answer,
.modal__button {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

.illustration__text {
  margin-top: 50px;
  font-weight: 600;
}

.quiz__answer {
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  align-items: center;
}

.quiz__one-letter {
  width: 50px;
}

.quiz__question,
.key {
  text-align: center;
}

.quiz__question {
  margin: 50px auto;
  font-size: 24px;
  font-weight: 400;
  width: 90%;
}

.score {
  margin: 30px auto;
  font-size: 24px;
  font-weight: 400;
  width: 50%;
}

.quiz__numbers {
  margin-left: 10px;
}

.number {
  color: red;
}
.quiz__keyboard,
.key,
.quiz__one-letter {
  border: 1px solid rgba(32, 31, 31, 0.954);
}

.quiz__keyboard,
.quiz__row {
  flex-wrap: wrap;
}

.quiz__keyboard {
  margin: 100px auto;
  background-color: rgb(233, 233, 238);
}

.quiz__row {
  width: 98%;
  justify-content: center;
  padding-bottom: 8px;
}

.key {
  width: 9%;
  height: 56px;
  margin-left: 10px;
  background-color: rgba(104, 218, 187, 0.648);
  border-radius: 5px;
  margin-top: 10px;
}

.key.active {
  background-color: rgba(21, 183, 140, 0.648);
}

.key:disabled {
  background-color: rgba(143, 210, 192, 0.1);
}

.quiz__one-letter.active {
  border: none;
  font-size: 24px;
  margin-bottom: 15px;
}

.illustration__body {
  position: relative;
  left: 372px;
  top: 90px;
  background-color: brown;
  height: 2px;
  width: 2px;
}

.illustration__body1,
.illustration__body2,
.illustration__body3,
.illustration__body4,
.illustration__body5,
.illustration__body6 {
  visibility: hidden;
}
.illustration__body1 {
  position: absolute;
  border-radius: 50%;
  top: 5px;
  left: -22px;
  height: 50px;
  width: 50px;
}

.illustration__body2 {
  position: absolute;
  top: 110px;
  left: -57px;
  width: 120px;
  transform: rotate(90deg);
}

.illustration__body3 {
  position: absolute;
  top: 104px;
  left: -44px;
  width: 60px;
  transform: rotate(125deg);
}

.illustration__body4 {
  position: absolute;
  top: 100px;
  left: -10px;
  width: 60px;
  transform: rotate(45deg);
}

.illustration__body5 {
  position: absolute;
  top: 188px;
  left: -50px;
  width: 70px;
  transform: rotate(125deg);
}

.illustration__body6 {
  position: absolute;
  top: 186px;
  left: -10px;
  width: 70px;
  transform: rotate(45deg);
}

.modal__background {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(64, 63, 61, 0.9);
}

.modal {
  display: none;
  width: 800px;
  height: 500px;
  background-color: rgba(241, 236, 232);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  flex-direction: column;
}

.modal__text {
  padding-top: 70px;
}
.modal__text,
.modal__result,
.modal__answer {
  font-size: 24px;
  margin-top: 50px;
  text-align: center;
}

.modal__button {
  display: block;
  background-color: rgba(104, 218, 187, 0.648);
  width: 35%;
  height: 44px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

.modal__background.active,
.modal.active {
  display: block;
}
