.login_wrapper,
.main_wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.main_wrapper {
  margin: 0 50px;
}

.modal_background {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(64, 63, 61, 0.9);
}
.modal_background,
.modal_wrapper {
  display: block;
  position: fixed;
}
.modal_wrapper {
  width: 30%;
  height: 30%;
  background-color: rgba(241, 236, 232);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  flex-direction: column;
}

.main_header,
.main_footer,
.field {
  display: flex;
  padding: 20px;
}

.main_header {
  align-items: center;
}

.main_footer {
  justify-content: space-between;
  align-items: center;
}
