.login_wrapper,
.main_wrapper,
.about_wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.main_wrapper {
  margin: 0 50px;
}

.modal_background {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(64, 63, 61, 0.9);
}
.modal_background,
.modal_wrapper {
  display: block;
  position: fixed;
}
.modal_wrapper {
  width: 30%;
  height: 30%;
  background-color: rgba(241, 236, 232);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  flex-direction: column;
}

.main_header,
.main_footer,
.field {
  display: flex;
  padding: 20px;
}

.main_header {
  align-items: center;
}

.main_footer,
.field,
.main_destination,
.main_message-send {
  justify-content: space-between;
}

.main_footer {
  align-items: center;
}

.field {
  width: 100%;
  height: 800px;
}

.main_users {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.main_right {
  display: flex;
  width: 75%;
  flex-direction: column;
}

.main_destination {
  display: flex;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.main_message-send {
  display: flex;
}

.main_scroll-field {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  margin-top: 10px;
  height: 90%;
  background-color: rgb(172 219 213);
}

.main_field-message {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgb(172 219 213);
}

.main_left {
  height: 100%;
  overflow: auto;
  margin-top: 20px;
}

.about_information {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20%;
  width: 50%;
}
